// Lato
@font-face {
    src: url("../midias/fontes/lato/Lato-Thin.woff");
    font-family: 'Lato Thin'
}

@font-face {
    src: url("../midias/fontes/lato/Lato-Regular.woff");
    font-family: 'Lato Regular'
}

@font-face {
    src: url("../midias/fontes/lato/Lato-Semibold.woff");
    font-family: 'Lato Semibold'
}