// Lato
@font-face {
    src: url("../midias/fontes/lato/Lato-Regular.eot");
    font-family: 'Lato Regular'
}

@font-face {
    src: url("../midias/fontes/lato/Lato-Semibold.woff");
    font-family: 'Lato Semibold'
}
