.perfil {
    @include flex-container(column, flex-start, center);

    height: 100%;
    width: 34%;

    padding: 0 var(--distancia-vertical);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &__banner {
        height: 20rem;
        width: calc(100% + (var(--distancia-vertical) * 2 + 1px));

        object-fit: cover;

        margin-bottom: var(--distancia-vertical);
    }

    &__informacoes {
        @include flex-container(row, flex-start, flex-start);

        margin-bottom: calc(var(--distancia-vertical) * 2);

        width: 100%;

        &__bloco-esquerda {
            @include flex-container(column, flex-start, center);
            margin-right: var(--distancia-horizontal);

            &__img {
                border-radius: 9999px;
                width: 15rem;

                margin-bottom: 25px
            }

            &__pontuacao {
                @include flex-container(column, flex-start, center);
                font-size: 5rem;

                margin-left: 15px;

                &__numero {
                    color: var(--cor-principal);
                    font-size: 5rem;
                }

                &__texto {
                    font-size: 3rem;
                }
            }
        }

        &__bloco-direita {
            @include flex-container(column, space-between, center);

            height: 100%;

            padding-top: 45px;
            padding-bottom: 45px;
            
            &__textos {
                @include flex-container(column, flex-start, flex-start);
                &__bloco-um {
                    @include flex-container(row, flex-start, center);

                    &__nome-autor {
                        font-family: "Lato Semibold";
                        font-size: 3.5rem;

                        margin-right: 10px;
                    }
                    
                    &__verificado {
                        height: 4rem;
                        width:  4rem;
                    }
                }
                
                &__bloco-dois {
                    @include flex-container(row, space-between, center);
                    
                    &__arroba {
                        color: grey;

                        font-size: 3rem;

                        margin-right: calc(var(--distancia-horizontal) * 2);
                    }
                    
                    &__funcao {
                        color: var(--cor-principal);
                        font-size: 3rem;
                    }
                }
            }

            &__numeros {
                @include flex-container(row, space-between, center);

                width: 100%;

                &__dado {
                    font-size: 1.6rem;

                    &__numero {
                        color: var(--cor-principal);
                    }

                    &__texto {
                        font-family: "Lato Semibold";
                    }
                }
            }
        }
    }

    &__sobre-e-publicacoes {
        display: block;

        width: 100%;

        &__caixa-de-selecao {
            @include flex-container(row, flex-start, center);

            margin-bottom: calc(var(--distancia-vertical) * 2);
            padding-bottom: 5px;

            position: relative;

            &::before {
                content: "";

                background-color: var(--cor-principal);

                height: 2px;
                width: calc(50% + var(--distancia-vertical));

                position: absolute;
                bottom: 0;
                left: calc(-1 * var(--distancia-vertical));

                transition: ease .1s;
                
            }

            &[ativo="2"] {
                &::before {
                    left: calc(calc(50% - var(--distancia-vertical)) + var(--distancia-vertical));
                }
            }
            
            &__item {
                cursor: pointer;

                font-size: 1.6rem;

                width: 50%;

                text-align: center;

                &.ativo {

                }
            }
        }

        &__sobre {
            display: none;
            &__header {
                @include flex-container(row, space-between, center);

                margin-bottom: calc(var(--distancia-vertical));
                
                &__titulo {
                    font-size: 2rem;
                    
                    font-weight: bold;
                }
                
                &__editar {
                    background-color: var(--cor-cinza);
                    border-radius: 9999px;

                    cursor: pointer;
                    
                    font-size: 1.6rem;

                    padding: 4px 24px;
                }
            }

            &__conteudo {
                font-size: 1.6rem;

                text-align: justify;
            }
        }

        &__publicacao {
            // padding-bottom: 45px;

            // background-color: lightgreen;

            // &:not(:last-of-type) {
                // border-bottom: 1px solid #ee0d6f;

            position: relative;

            &[tipo="discussao"] {
                .perfil__sobre-e-publicacoes__publicacao__previa__container__informacoes__tipo {
                    background-color: var(--cor-discussao);
                }
                .perfil__sobre-e-publicacoes__publicacao__previa__container__informacoes__pontos {
                    color: var(--cor-discussao);
                }
            }

            &::after {
                content: "";

                background-color: #9a9a9a;
                
                display: none;
        
                height: 1px;
                width: calc(100% + (var(--distancia-vertical) * 2));

                transform: translateX(calc(-1 * var(--distancia-vertical)));

                position: absolute;
            }

            &:not(:last-of-type) {
                &::after {
                    display: block;

                    bottom: 0;
                }
            }

            &:not(:first-of-type) {
                padding-top: var(--distancia-vertical);
            }

            padding-bottom: var(--distancia-vertical);

            &__topo {
                @include flex-container(row, space-between, center);

                margin-bottom: var(--distancia-vertical);

                &__informacoes-usuario {
                    @include flex-container(row, flex-start, center);
                    &__foto-perfil {
                        border-radius: 999px;
                        width: 5rem;

                        margin-right: 20px;
                    }

                    &__nome {
                        &:link,
                        &:visited {
                            color: black;

                            font-size: 1.7rem;

                            margin-right: 20px;

                            text-decoration: none;
                        }
                    }

                    &__seguir {
                        color: var(--cor-principal);

                        cursor: pointer;

                        font-size: 1.7rem;
                    }
                }

                &__tres-pontinhos {
                    @include flex-container(row, center, center);
                    // background-color: lightgrey;
                    border-radius: 999px;

                    cursor: pointer;

                    height: 4rem;
                    width:  4rem;

                    position: relative;

                    transition: ease .2s;

                    &::after {
                        content: "";

                        background-color: #d9d9d950;
                        border-radius: 9999px;

                        height: 4rem;
                        width:  4rem;

                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        z-index: -1;

                        opacity: 0;
                    }

                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }

                    &__pontinho {
                        background-color: black;
                        border-radius: 999px;

                        height: .4rem;
                        width:  .4rem;

                        &:not(:last-of-type) {
                            margin-right: 3px;
                        }
                    }
                }
            }

            &--1 {
                &__previa {
                    border: none !important;
                    overflow: hidden;

                    height: 35rem;

                    position: relative;
                    margin-bottom: 10px;

                    &__imagem {
                        border-radius: 10px;
                        width: 100%;

                        height: 100%;
                        object-fit: cover;

                        filter: brightness(0.8);
                    }

                    &__titulo {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        color: white;

                        font-family: "Lato Regular";
                        font-size: 3.5rem;

                        line-height: 1.1;

                        margin: 0 var(--distancia-horizontal);
                        margin-bottom: var(--distancia-horizontal);

                        z-index: 1;
                    }
                }
            }

            &__previa {
                &,
                &:link,
                &:visited {
                    color: currentColor;
                    
                    display: block;
                    
                    text-decoration: none;
                }
                border: 1px solid black;
                border-radius: 10px;

                overflow: hidden;

                // padding: 30px;
                position: relative;
                margin-bottom: 10px;

                &__container {
                    padding: 30px;

                    width: 100%;

                    &__informacoes {
                        @include flex-container(row, space-between, center);

                        margin-bottom: calc(var(--distancia-vertical) * 2);
                        
                        width: 100%;
                        
                        &__tipo {
                            border-radius: 99px;
                            color: white;

                            padding: 5px 10px;

                            font-size: 1.2rem;
                        }

                        &__pontos {
                            font-size: 1.6rem;
                        }
                    }

                    &__titulo {
                        font-size: 3.5rem;
                    }
                }

                &__titulo {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    color: white;

                    font-family: "Lato Regular";
                    font-size: 3.5rem;

                    line-height: 1.1;

                    margin: 0 var(--distancia-horizontal);
                    margin-bottom: var(--distancia-horizontal);

                    z-index: 1;
                }
            }

            &__informacoes {
                @include flex-container(row, space-between, center);
                
                &__curtidas {
                    @include flex-container(row, flex-start, center);

                    margin-bottom: 10px;

                    &__icone {
                        height: 2rem;
                        width: 2rem;

                        margin-right: 10px;
                    }

                    &__informacao {
                        display: inline-block;

                        font-size: 1.2rem;

                        &__numeroDeCurtidas {

                        }
                    }
                }

                &__verComentarios {
                    cursor: pointer;

                    font-size: 1.2rem;
                }
            }

            &__interacoes {
                @include flex-container(row, space-between, flex-start);

                margin: var(--distancia-vertical) 0;

                &__interacao {
                    height: 4rem;
                    width: 4rem;
                }
            }

            &__descricao {
                // background-color: lightblue;
                font-size: 1.6rem;

                margin-bottom: 10px;

                &__conteudo {
                    display: inline-block;
                    height: 17px;
                    overflow: hidden;
                }

                &__verMais {
                    color: var(--cor-principal);
                    cursor: pointer;
                }
            }

            &__comentarios {
                // background-color: lightgrey;

                &__novoComentario {
                    @include flex-container(row, space-around, center);
                    background-color: #d9d9d9;
                    border-radius: 999px;
                    width: 100%;

                    padding: 8px 0;

                    margin-bottom: 10px;

                    &__input {
                        background-color: transparent;
                        border: none;

                        height: 3rem;
                        width: 85%;

                        font-size: 1.6rem;

                        resize: none;

                        padding-top: 6px;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        &:hover,
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }

                    &__iconeEmoji {
                        cursor: pointer;

                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                &__comentarios {
                    &__comentario {
                        @include flex-container(row, flex-start, flex-start);

                        &__img {
                            border-radius: 999px;
                            width: 4rem;

                            margin-right: 10px;
                        }
                        
                        &__conteudo {
                            padding-top: 13px;
                            margin-right: 10px;
                        }

                        &__estrelinha {
                            height: 3rem;
                            width:  7rem;

                            align-self: flex-end;
                        }
                    }

                    &__comentario {                        
                        &__conteudo {
                            @include flex-container(column, flex-start, flex-start);

                            &__nomeAutor {
                                font-size: 1.4rem;
                                font-weight: bold;

                                margin-bottom: 10px;
                            }

                            &__comentario {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}