<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Ops...</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/404.css">
    </head>
    <body>
        <div class="pagina-404">
            <div class="pagina-404__bloco-esquerda">
                <div class="pagina-404__bloco-esquerda__bloco-topo">
                    <img src="midias/imagens/isologo.png" alt="" class="pagina-404__bloco-esquerda__bloco-topo__logo">
                    <div class="pagina-404__bloco-esquerda__bloco-topo__erro">
                        Erro <span class="pagina-404__bloco-esquerda__bloco-topo__erro__enfase">404</span>:
                        Página não encontrada
                    </div>
                </div>

                <div class="pagina-404__bloco-esquerda__bloco-baixo">
                    <div class="pagina-404__bloco-esquerda__bloco-baixo__mensagem">
                        Ops... parece que você se perdeu pelo caminho. Vamos voltar?
                    </div>
                    <a href="/feed" class="pagina-404__bloco-esquerda__bloco-baixo__botao">Voltar para o site</a>
                </div>
            </div>

            <img class="pagina-404__iala-confusa" src="midias/imagens/iala-confusa.png" alt="">
        </div>
    </body>
</html>