<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="../css/cadastro.css">
    </head>
    <body>
            <div class="cadastro-comum confirmacao-lattes">
                <img class="cadastro-comum__imagem" src="../midias/imagens/arteCadastro.png" alt="">
                
                <div class="cadastro-comum__conteudo confirmacao-lattes__conteudo">
                    <div class="cadastro-comum__cabecalho">
                        <img src="../midias/imagens/isologo.png" alt="" class="cadastro-comum__isologo confirmacao-lattes_conteudo__isologo">

                        <div class="cadastro-comum__instrucoes confirmacao-lattes__conteudo__header">
                           
                        </div>
                    </div>   


                        
                    </div>
           
                <form class="confirmacao-lattes__conteudo__form" action="" method="GET"></form>
                <svg class="cadastro-comum__icone confirmacao-lattes__conteudo__form__icone-lattes">
                     <use xlink:href="../midias/icones/lattes.svg"></use>
                </svg>
                
                
        </div>
    </body>
</html>