<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action="/cadastrado" method="POST">
            id_personalizavel:<input type="text" name="id_personalizavel"/><br/>
            nome_completo:<input type="text" name="nome_completo"/><br/>
            email:<input type="text" name="email"/><br/>
            senha:<input type="text" name="senha"/><br/>
            idade:<input type="text" name="idade"/><br/>
            cpf:<input type="text" name="cpf"/><br/>
            id_lates:<input type="text" name="id_lattes"/><br/>
            <button>Enviar</button>
        </form>
    </body>
</html>