<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seleção de Categoria</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">
        
        <link rel="stylesheet" href="../css/cadastro.css">
    </head>
    <body>
        <div class="cadastro-comum tipo-de-usuario">
            <div class="cadastro-comum__container-imagem">
                <video class="cadastro-comum__container-imagem__imagem" autoplay loop muted>
                    <source src="../midias/videos/animacao-cadastro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="cadastro-comum__conteudo tipo-de-usuario__conteudo"> 
                <div class="cadastro-comum__conteudo__cabecalho">
                    <img src="../midias/imagens/isologo.png" alt="" class="cadastro-comum__conteudo__cabecalho__isologo">
    
                    <div class="cadastro-comum__conteudo__cabecalho__instrucoes">
                        <a href="" class="tamanho-texto-comum cadastro-comum__conteudo__cabecalho__instrucoes__voltar"> < Voltar</a>
                        <h1 class="cadastro-comum__conteudo__cabecalho__instrucoes__titulo">Crie sua conta Desmoo</h1>
                    </div>
                </div>

                <form id="formTipoDeCategoria" action="" method="post" class="cadastro-comum__conteudo__form tipo-de-usuario__conteudo__form">
                    <input type="radio" name="categoria" id="qualificado" value="qualificado" class="card-tipo-de-categoria tipo-de-usuario__conteudo__form__input-radio">
                    
                    <label for="qualificado" class="tipo-de-usuario__conteudo__form__card">
                        <svg class="icon tipo-de-usuario__conteudo__form__card__icone">
                            <use xlink:href="../midias/icones/qualificado.svg#qualificado"></use>
                        </svg>
                        
                        <div class="tipo-de-usuario__conteudo__form__card__descricao">
                            <h3 class="tipo-de-usuario__conteudo__form__card__descricao__titulo">Qualificado</h3>
                            <p class="tamanho-texto-comum tipo-de-usuario__conteudo__form__card__descricao__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, laudantium.</p>
                        </div>
                    </label>
                    
                    <input type="radio" name="categoria" id="entusiasta" value="entusiasta" class="card-tipo-de-categoria tipo-de-usuario__conteudo__form__input-radio">
                    
                    <label for="entusiasta" class="tipo-de-usuario__conteudo__form__card">
                        <svg class="icon tipo-de-usuario__conteudo__form__card__icone">
                            <use xlink:href="../midias/icones/entusiasta.svg#entusiasta"></use>
                        </svg>
                        
                        <div class="tipo-de-usuario__conteudo__form__card__descricao">
                            <h3 class="tipo-de-usuario__conteudo__form__card__descricao__titulo">Entusiasta</h3>
                            <p class="tamanho-texto-comum tipo-de-usuario__conteudo__form__card__descricao__texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, laudantium.</p>
                        </div>
                    </label>

                    <script>
                        // formulário da página "tipo de categoria"
                        const formTipoDeCategoria = document.getElementById('formTipoDeCategoria')

                        // referente aos cards propriamente ditos
                        const cardsTipoDeCategoria = document.querySelectorAll('label')

                        cardsTipoDeCategoria.forEach(card => {
                            card.addEventListener('click', () => {
                                setTimeout(() => {
                                    formTipoDeCategoria.submit()
                                }, 100)
                            })
                        })
                    </script>
                </form>
            </div>
        </div>
    </body>
</html>