<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cadastro.css">
        <title>Confirmação de E-mail</title>
    </head>
    <body>
        <div class=" cadastro-comum confirmacao-lattes">
            <img src="../midias/imagens/arteCadastro.png" alt="" class="cadastro-comum__imagem">

            <div class="cadastro-comum__conteudo confirmacao-lattes__conteudo"> 
                <div class="cadastro-comum__conteudo__cabecalho">
                    <img src="../midias/imagens/isologo.png" alt="" class="cadastro-comum__conteudo__cabecalho__isologo">
    
                    <div class="cadastro-comum__conteudo__cabecalho__instrucoes">
                        <a href="" class="cadastro-comum__conteudo__cabecalho__instrucoes__voltar"> < Voltar</a>
                        <h1 class="cadastro-comum__conteudo__cabecalho__instrucoes__titulo">Crie sua conta Desmoo</h1>
                    </div>
                </div>

                <form class="cadastro-comum__conteudo__form confirmacao-lattes__conteudo__form" action="/cadastro/tipoDeUsuario" method="POST">
                    <svg class="icon cadastro-comum__conteudo__form__icone cadastro-comum__icone confirmacao-lattes__conteudo__form__icone-email">
                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                    </svg>
                    <span class="cadastro-comum__conteudo__form__descricao confirmacao-lattes__conteudo__form__descricao">Confirmar Currículo Lattes</span>
                    <input type="text" class="cadastro-comum__conteudo__form__input confirmacao-lattes__conteudo__form__input-codigo" placeholder="Inserir Código">
                    <div class="confirmacao-lattes__conteudo__form__box-confirm">
                        <span class="confirmacao-lattes__conteudo__form__box-confirm__resgate-codigo">Como pegar o ID Lattes?</span>
                        <input type="submit" class="cadastro-comum__conteudo__form__botao-avancar confirmacao-lattes__conteudo__form__box-confirm__botao-avancar" value="Avançar">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>