<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cadastro.css">
        <title>Confirmação de E-mail</title>
    </head>
    <body>
        <div class=" cadastro-comum confirmacao-email">
            <div class="cadastro-comum__container-imagem">
                <img class="cadastro-comum__container-imagem__imagem" src="../midias/imagens/arteCadastro.png" alt="">
            </div>

            <div class="cadastro-comum__conteudo confirmacao-email__conteudo"> 
                <div class="cadastro-comum__conteudo__cabecalho">
                    <img src="../midias/imagens/isologo.png" alt="" class="cadastro-comum__conteudo__cabecalho__isologo">
    
                    <div class="cadastro-comum__conteudo__cabecalho__instrucoes">
                        <a href="" class="tamanho-texto-comum cadastro-comum__conteudo__cabecalho__instrucoes__voltar"> < Voltar</a>
                        <h1 class="cadastro-comum__conteudo__cabecalho__instrucoes__titulo">Crie sua conta Desmoo</h1>
                    </div>
                </div>

                <form class="icon cadastro-comum__conteudo__form confirmacao-email__conteudo__form" action="/cadastro/tipo-de-usuario" method="post">
                    <svg class="cadastro-comum__conteudo__form__icone cadastro-comum__icone confirmacao-email__conteudo__form__icone-email">
                        <use xlink:href="../midias/icones/email.svg#email"></use>
                    </svg>
                    <span class="cadastro-comum__conteudo__form__descricao confirmacao-email__conteudo__form__descricao">Confirmar Email</span>
                    
                    <input type="text" class="tamanho-texto-comum cadastro-comum__conteudo__form__input confirmacao-email__conteudo__form__input-codigo" placeholder="Inserir Código">

                    <div class="cadastro-comum__conteudo__form__box-confirm confirmacao-email__conteudo__form__box-confirm">
                        <span class="tamanho-texto-comum cadastro-comum__conteudo__form__box-confirm__resgate-codigo confirmacao-email__conteudo__form__box-confirm__resgate-codigo">Como Pegar o Código?</span>
                        <input type="submit" class="tamanho-texto-comum cadastro-comum__conteudo__form__box-confirm__botao-avancar confirmacao-email__conteudo__form__box-confirm__botao-avancar" value="Avançar">
                    </div>
                </form>
            </div>
        </div>

        <input type="hidden" name="nome" value="">
        <input type="hidden" name="cpf" value="">
        <input type="hidden" name="email" value="">
        <input type="hidden" name="senha" value="">
    </body>
</html>