<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>

        <link rel="stylesheet" href="../css/discussao.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="discussao">
                <header class="discussao__header">
                    <a href="/feed" class="discussao__header__voltar">
                        <div class="discussao__header__voltar__setinha"></div>
                        <span class="discussao__header__voltar__texto">Voltar</span>
                    </a>
                    <div class="discussao__header__autor-e-data">
                        <span class="discussao__header__autor-e-data__autor">Lucas Barccinela</span>
                        -
                        <span class="discussao__header__autor-e-data__data">22/10/2022</span>
                    </div>
                    <h1 class="discussao__header__titulo">Quais os efeitos do TDAH em autistas?</h1>
                    <p class="discussao__header__descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <span class="discussao__header__respostas">
                        <div class="discussao__header__respostas__numero">2</div>
                        Respostas
                    </span>
                </header>

                <div class="discussao__respostas">
                    <div class="discussao__respostas__resposta">
                        <a href="/perfil" class="discussao__respostas__resposta__topo">
                            <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="discussao__respostas__resposta__topo__img">
                            <span class="discussao__respostas__resposta__topo__nome-autor">Bruna Gabrielli</span>
                        </a>

                        <p class="discussao__respostas__resposta__conteudo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                        <div class="discussao__respostas__resposta__icones">
                            <a href="" class="discussao__respostas__resposta__icones__icone">
                                <svg class="icon">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="discussao__respostas__resposta">
                        <a href="/perfil" class="discussao__respostas__resposta__topo">
                            <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="discussao__respostas__resposta__topo__img">
                            <span class="discussao__respostas__resposta__topo__nome-autor">Bruna Gabrielli</span>
                        </a>

                        <p class="discussao__respostas__resposta__conteudo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>

                        <div class="discussao__respostas__resposta__icones">
                            <a href="" class="discussao__respostas__resposta__icones__icone">
                                <svg class="icon">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('components/menu-secundario.ejs'); %>
        </div>
    </body>
</html>