<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/feed.css">
    </head>
    <body>
        <div class="container">
            <nav class="menu">
                <img src="../midias/imagens/isologo.png" alt="Logo da plataforma" class="menu__isologo">

                <ul class="menu__lista">
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone atual">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Página Inicial</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Explorar</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Notificações</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Mensagens</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                      </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Itens Salvos</a>
                    </li>
                </ul>
                
                <button class="menu__botao">Criar Post</button>
            </nav>

            <main class="feed">
                <form method="get" action="" class="feed__barrinha-de-pesquisa">
                    <svg class="icon feed__barrinha-de-pesquisa__icone">
                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                    </svg>  
                    <input type="search" class="feed__barrinha-de-pesquisa__input" placeholder="Pesquisar" name="pesquisa" id="pesquisa">
                </form>

                <div class="feed__ordenar-por">
                    <div class="feed__ordenar-por__bloco"> Relevante </div>
                    <div class="feed__ordenar-por__bloco"> Mais Curtidos </div>
                    <div class="feed__ordenar-por__bloco"> Novidades </div>
                    <div class="feed__ordenar-por__bloco"> Data de envio </div>
                </div>

                <div class="feed__publicacoes">
                    <div class="publicacao" tipo="discussao" tem-imagem="nao">
                        <div class="publicacao__topo">
                            <div class="publicacao__topo__informacoes-usuario">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                <a href="/perfil?id=1" class="publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                <span class="publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                            </div>
                            <div class="tres-pontinhos">
                                <div class="tres-pontinhos__pontinho"></div>
                                <div class="tres-pontinhos__pontinho"></div>
                                <div class="tres-pontinhos__pontinho"></div>
                            </div>
                        </div>
                        <div class="publicacao__previa">
                            <div class="publicacao__previa__container">
                                <div class="publicacao__previa__container__informacoes">
                                    <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                        <span class="publicacao__previa__container__informacoes__tipo__texto">Review</span>
                                    </div>
                                </div>
                                <span class="publicacao__previa__container__titulo"> Minions, por que tão fofinhos? </span>
                            </div>
                            <!-- <span class="publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span> -->
                        </div>
                        <div class="publicacao__informacoes">
                            <div class="publicacao__informacoes__curtidas">
                                <svg class="icon publicacao__informacoes__curtidas__icone">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>

                                <div class="publicacao__informacoes__curtidas__informacao">
                                    <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                    curtiram esse post!
                                </div>
                            </div>

                            <span class="publicacao__informacoes__verComentarios">
                                Ver comentários
                            </span>
                        </div>
                        <div class="publicacao__interacoes">
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                        </div>

                        <div class="publicacao__descricao">
                            <span class="publicacao__descricao__conteudo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                            </span>
                            <span class="publicacao__descricao__verMais">ver mais...</span>
                        </div>

                        <div class="publicacao__comentarios">
                            <div class="publicacao__comentarios__novoComentario">
                                <!-- <input type="text" class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>

                                <svg class="publicacao__comentarios__novoComentario__iconeEmoji">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>

                            <div class="publicacao__comentarios__comentarios">
                                <div class="publicacao__comentarios__comentarios__comentario">
                                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__img">
                                    <div class="publicacao__comentarios__comentarios__comentario__conteudo">
                                        <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                            Bruna Gabrielli
                                        </span>
                                        <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                        </span>
                                    </div>
                                    <svg class="icon publicacao__comentarios__comentarios__comentario__estrelinha">
                                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="publicacao" tipo="review" tem-imagem="sim">
                        <div class="publicacao__topo">
                            <div class="publicacao__topo__informacoes-usuario">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__topo__informacoes-usuario__foto-perfil">
                                <a href="/perfil?id=1" class="publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                <span class="publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                            </div>
                            <div class="tres-pontinhos">
                                <div class="tres-pontinhos__pontinho"></div>
                                <div class="tres-pontinhos__pontinho"></div>
                                <div class="tres-pontinhos__pontinho"></div>
                            </div>
                        </div>
                        <div class="publicacao__previa" style="background-image: url('../midias/imagens/publicacao-1.jpg')">
                            <div class="publicacao__previa__container">
                                <div class="publicacao__previa__container__informacoes">
                                    <div class="publicacao__previa__container__informacoes__tipo" tipo="discussao">
                                        <span class="publicacao__previa__container__informacoes__tipo__texto">Review</span>
                                    </div>
                                </div>
                                <span class="publicacao__previa__container__titulo"> Minions, por que tão fofinhos? </span>
                            </div>
                            <!-- <span class="publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span> -->
                        </div>
                        <div class="publicacao__informacoes">
                            <div class="publicacao__informacoes__curtidas">
                                <svg class="icon publicacao__informacoes__curtidas__icone">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>

                                <div class="publicacao__informacoes__curtidas__informacao">
                                    <span class="publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                    curtiram esse post!
                                </div>
                            </div>

                            <span class="publicacao__informacoes__verComentarios">
                                Ver comentários
                            </span>
                        </div>
                        <div class="publicacao__interacoes">
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                        </div>

                        <div class="publicacao__descricao">
                            <span class="publicacao__descricao__conteudo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                            </span>
                            <span class="publicacao__descricao__verMais">ver mais...</span>
                        </div>

                        <div class="publicacao__comentarios">
                            <div class="publicacao__comentarios__novoComentario">
                                <!-- <input type="text" class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                <textarea class="publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>

                                <svg class="publicacao__comentarios__novoComentario__iconeEmoji">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>

                            <div class="publicacao__comentarios__comentarios">
                                <div class="publicacao__comentarios__comentarios__comentario">
                                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="publicacao__comentarios__comentarios__comentario__img">
                                    <div class="publicacao__comentarios__comentarios__comentario__conteudo">
                                        <span class="publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                            Bruna Gabrielli
                                        </span>
                                        <span class="publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                        </span>
                                    </div>
                                    <svg class="icon publicacao__comentarios__comentarios__comentario__estrelinha">
                                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="menu-secundario">
                <div class="menu-secundario__sugestoes">
                    <div class="menu-secundario__sugestoes__titulo">Pessoas que você talvez conheça</div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>