<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/notificacoes.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="notificacoes">
                <div class="notificacoes__notificacao">
                    <div class="notificacoes__notificacao__bloco-esquerda">
                        <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="Foto de perfil do usuário" class="notificacoes__notificacao__bloco-esquerda__foto-perfil">
                        <svg class="icon notificacoes__notificacao__bloco-esquerda__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <div class="notificacoes__notificacao__bloco-esquerda__conteudo">
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__nome-autor">Ana Vitoriana</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__tipo-interacao">comentou</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__seu-post">seu post</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__comentario">"Lorem, ipsum mos nulla!"</span>
                        </div>

                    </div>
                    <div class="tres-pontinhos">
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                    </div>
                </div>
                <div class="notificacoes__notificacao">
                    <div class="notificacoes__notificacao__bloco-esquerda">
                        <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="Foto de perfil do usuário" class="notificacoes__notificacao__bloco-esquerda__foto-perfil">
                        <svg class="icon notificacoes__notificacao__bloco-esquerda__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <div class="notificacoes__notificacao__bloco-esquerda__conteudo">
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__nome-autor">Ana Vitoriana</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__tipo-interacao">comentou</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__seu-post">seu post</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__comentario">"Lorem, ipsum mos nulla!"</span>
                        </div>

                    </div>
                    <div class="tres-pontinhos">
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                    </div>
                </div>
                <div class="notificacoes__notificacao">
                    <div class="notificacoes__notificacao__bloco-esquerda">
                        <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="Foto de perfil do usuário" class="notificacoes__notificacao__bloco-esquerda__foto-perfil">
                        <svg class="icon notificacoes__notificacao__bloco-esquerda__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <div class="notificacoes__notificacao__bloco-esquerda__conteudo">
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__nome-autor">Ana Vitoriana</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__tipo-interacao">comentou</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__seu-post">seu post</span>
                            <span class="notificacoes__notificacao__bloco-esquerda__conteudo__comentario">"Lorem, ipsum mos nulla!"</span>
                        </div>

                    </div>
                    <div class="tres-pontinhos">
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                        <div class="tres-pontinhos__pontinho"></div>
                    </div>
                </div>
            </main>

            <%- include('components/menu-secundario.ejs'); %>
        </div>
    </body>
</html>