<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/novaReview.css">

        <script src="https://cdn.tiny.cloud/1/9a511xaw07w1umjx8fwzxhfjn3l2fuaze6vd2rvwxmu8vui5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="novaReview">
                <form class="novaReview__form" method="get" action="">
                    <textarea name="text">
                        Welcome to TinyMCE!
                     </textarea>

                     <button>Enviar</button>
                </form>

                <script>
                    const urlParams = new URLSearchParams(window.location.search);
                    const myParam = urlParams.get('text');

                    document.querySelector('textarea').innerHTML = myParam
                    // alert(myParam)
                </script>

                 <script>
                   tinymce.init({
                     selector: 'textarea',
                     plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
                     toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                     tinycomments_mode: 'embedded',
                     tinycomments_author: 'Author name',
                     mergetags_list: [
                       { value: 'First.Name', title: 'First Name' },
                       { value: 'Email', title: 'Email' },
                     ]
                   });
                 </script>
            </main>

            <%- include('components/menu-secundario.ejs'); %>

            <%- include('components/iala.ejs') %>
        </div>
    </body>
</html>