<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Feed</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/review.css">
    </head>
    <body>
        <div class="container">
            <%- include('components/menu.ejs'); %>

            <main class="feed">
                <form method="get" action="" class="feed__barrinha-de-pesquisa">
                    <svg class="icon feed__barrinha-de-pesquisa__icone">
                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                    </svg>  
                    <input type="search" class="feed__barrinha-de-pesquisa__input" placeholder="Pesquisar" name="pesquisa" id="pesquisa">
                </form>

                <div class="feed__ordenar-por">
                    <div class="feed__ordenar-por__bloco"> Relevante </div>
                    <div class="feed__ordenar-por__bloco"> Mais Curtidos </div>
                    <div class="feed__ordenar-por__bloco"> Novidades </div>
                    <div class="feed__ordenar-por__bloco"> Data de envio </div>
                </div>

                <div class="feed__publicacoes">
                    <div class="feed__publicacoes__publicacao feed__publicacoes__publicacao--1">
                        <div class="feed__publicacoes__publicacao__topo">
                            <div class="feed__publicacoes__publicacao__topo__informacoes-usuario">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="feed__publicacoes__publicacao__topo__informacoes-usuario__foto-perfil">
                                <a href="/perfil?id=1" class="feed__publicacoes__publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                <span class="feed__publicacoes__publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                            </div>
                            <div class="feed__publicacoes__publicacao__topo__tres-pontinhos">
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                            </div>
                        </div>
                        <div class="feed__publicacoes__publicacao__previa feed__publicacoes__publicacao--1__previa">
                            <img src="../midias/imagens/publicacao-1.jpg" alt="" class="feed__publicacoes__publicacao--1__previa__imagem">
                            <span class="feed__publicacoes__publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span>
                        </div>
                        <div class="feed__publicacoes__publicacao__informacoes">
                            <div class="feed__publicacoes__publicacao__informacoes__curtidas">
                                <svg class="icon feed__publicacoes__publicacao__informacoes__curtidas__icone">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>

                                <div class="feed__publicacoes__publicacao__informacoes__curtidas__informacao">
                                    <span class="feed__publicacoes__publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                    curtiram esse post!
                                </div>
                            </div>

                            <span class="feed__publicacoes__publicacao__informacoes__verComentarios">
                                Ver comentários
                            </span>
                        </div>
                        <div class="feed__publicacoes__publicacao__interacoes">
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                        </div>

                        <div class="feed__publicacoes__publicacao__descricao">
                            <span class="feed__publicacoes__publicacao__descricao__conteudo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                            </span>
                            <span class="feed__publicacoes__publicacao__descricao__verMais">ver mais...</span>
                        </div>

                        <div class="feed__publicacoes__publicacao__comentarios">
                            <div class="feed__publicacoes__publicacao__comentarios__novoComentario">
                                <!-- <input type="text" class="feed__publicacoes__publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                <textarea class="feed__publicacoes__publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>

                                <svg class="feed__publicacoes__publicacao__comentarios__novoComentario__iconeEmoji">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>

                            <div class="feed__publicacoes__publicacao__comentarios__comentarios">
                                <div class="feed__publicacoes__publicacao__comentarios__comentarios__comentario">
                                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__img">
                                    <div class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo">
                                        <span class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                            Bruna Gabrielli
                                        </span>
                                        <span class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                        </span>
                                    </div>
                                    <svg class="icon feed__publicacoes__publicacao__comentarios__comentarios__comentario__estrelinha">
                                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="feed__publicacoes__publicacao feed__publicacoes__publicacao--1">
                        <div class="feed__publicacoes__publicacao__topo">
                            <div class="feed__publicacoes__publicacao__topo__informacoes-usuario">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="feed__publicacoes__publicacao__topo__informacoes-usuario__foto-perfil">
                                <a href="/perfil?id=1" class="feed__publicacoes__publicacao__topo__informacoes-usuario__nome">Lucas Barccinela</a>
                                <span class="feed__publicacoes__publicacao__topo__informacoes-usuario__seguir">Seguir</span>
                            </div>
                            <div class="feed__publicacoes__publicacao__topo__tres-pontinhos">
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                                <div class="feed__publicacoes__publicacao__topo__tres-pontinhos__pontinho"></div>
                            </div>
                        </div>
                        <div class="feed__publicacoes__publicacao__previa feed__publicacoes__publicacao--1__previa">
                            <img src="../midias/imagens/publicacao-1.jpg" alt="" class="feed__publicacoes__publicacao--1__previa__imagem">
                            <span class="feed__publicacoes__publicacao--1__previa__titulo"> Minions, por que tão fofinhos? </span>
                        </div>
                        <div class="feed__publicacoes__publicacao__informacoes">
                            <div class="feed__publicacoes__publicacao__informacoes__curtidas">
                                <svg class="icon feed__publicacoes__publicacao__informacoes__curtidas__icone">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>

                                <div class="feed__publicacoes__publicacao__informacoes__curtidas__informacao">
                                    <span class="feed__publicacoes__publicacao__informacoes__curtidas__informacao__numeroDeCurtidas">10</span>
                                    curtiram esse post!
                                </div>
                            </div>

                            <span class="feed__publicacoes__publicacao__informacoes__verComentarios">
                                Ver comentários
                            </span>
                        </div>
                        <div class="feed__publicacoes__publicacao__interacoes">
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                            <svg class="icon feed__publicacoes__publicacao__interacoes__interacao">
                                <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                            </svg>
                        </div>

                        <div class="feed__publicacoes__publicacao__descricao">
                            <span class="feed__publicacoes__publicacao__descricao__conteudo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam hic eveniet perferendis modi optio quasi, corrupti officiis? Laudantium quasi quo, eius fugit qui at! Deleniti aut nulla perspiciatis fuga sunt laborum commodi amet nihil?
                            </span>
                            <span class="feed__publicacoes__publicacao__descricao__verMais">ver mais...</span>
                        </div>

                        <div class="feed__publicacoes__publicacao__comentarios">
                            <div class="feed__publicacoes__publicacao__comentarios__novoComentario">
                                <!-- <input type="text" class="feed__publicacoes__publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"> -->
                                <textarea class="feed__publicacoes__publicacao__comentarios__novoComentario__input" placeholder="Adicionar comentário"></textarea>

                                <svg class="feed__publicacoes__publicacao__comentarios__novoComentario__iconeEmoji">
                                    <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                </svg>
                            </div>

                            <div class="feed__publicacoes__publicacao__comentarios__comentarios">
                                <div class="feed__publicacoes__publicacao__comentarios__comentarios__comentario">
                                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__img">
                                    <div class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo">
                                        <span class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo__nomeAutor">
                                            Bruna Gabrielli
                                        </span>
                                        <span class="feed__publicacoes__publicacao__comentarios__comentarios__comentario__conteudo__comentario">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime voluptatibus neque recusandae nihil, iure porro quae labore nesciunt reiciendis inventore iusto voluptas voluptate rerum est vero distinctio asperiores fugit.
                                        </span>
                                    </div>
                                    <svg class="icon feed__publicacoes__publicacao__comentarios__comentarios__comentario__estrelinha">
                                        <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('components/menu-secundario.ejs'); %>

            <%- include('components/iala.ejs') %>
        </div>
    </body>
</html>