<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>

        <link rel="icon" type="image/png" sizes="16x16" href="../midias/imagens/favicon.png">

        <link rel="stylesheet" href="../css/review.css">
    </head>
    <body>
        <div class="container">
            <nav class="menu">
                <img src="../midias/imagens/isologo.png" alt="Logo da plataforma" class="menu__isologo">

                <ul class="menu__lista">
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone atual">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Página Inicial</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Explorar</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Notificações</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                        </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Mensagens</a>
                    </li>
                    <li class="menu__lista__item-lista">
                        <svg class="icon menu__lista__item-lista__icone">
                            <use xlink:href="../midias/icones/lattes.svg#lattes"></use>
                      </svg>
                        <a href="perfil.ejs" class="menu__lista__item-lista__link">Itens Salvos</a>
                    </li>
                </ul>
                
                <button class="menu__botao">Criar Post</button>
            </nav>

            <main class="review">
                <header class="review__header">
                    <a href="/feed" class="review__header__voltar">
                        <div class="review__header__voltar__setinha"></div>
                        <span class="review__header__voltar__texto">Voltar</span>
                    </a>
                    <div class="review__header__autor-e-data">
                        <span class="review__header__autor-e-data__autor">Lucas Barccinela</span>
                        -
                        <span class="review__header__autor-e-data__data">22/10/2022</span>
                    </div>
                    <h1 class="review__header__titulo">Quais os efeitos do TDAH em autistas?</h1>
                    <p class="review__header__descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </header>

                <div class="review__conteudo">
                    <img src="../midias/imagens/publicacao-1.jpg" alt="" class="review__conteudo__img-principal">

                    <div class="review__conteudo__descricao">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae dolorum, aliquid, sequi culpa quibusdam facere, adipisci error iste labore laudantium velit cum consequatur?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem consequatur repellat aperiam officiis molestias voluptatibus vel, amet ex est quod ad eveniet, earum rerum sapiente nam cupiditate distinctio nisi?
                        </p>
                    </div>
                </div>
            </main>

            <div class="menu-secundario">
                <div class="menu-secundario__sugestoes">
                    <div class="menu-secundario__sugestoes__titulo">Pessoas que você talvez conheça</div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-secundario__sugestoes__sugestao">
                        <div class="menu-secundario__sugestoes__sugestao__pessoa">
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                                <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                            </div>
                            <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                                <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>