html {
   // colors
   --color-primary: ;
   --color-secondary: ;
   --color-tertiary: ;

   // font-sizes

   // font-families

   // sizes
   --min-height: ;
   --max-height: ;

   --min-width: ;
   --max-width: ;

   // transition


   // texts
   --commum-text-size: 1.6rem;

   // @media only screen and (max-width: 1600px) {
   //    --commum-text-size: 1.7rem;
   // }

   // @media only screen and (max-width: 1350px) {
   //    --commum-text-size: 1.4rem;
   // }

   // @media only screen and (max-width: 550px) {
   //    --commum-text-size: 1.8rem;
   // }

   //others
}