.cadastro {
    &__conteudo {
        &__form {
            &__inputs {
                height: 80%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                margin-bottom: 20px;
                
                &__input {
                    &:not(:last-of-type) {
                        margin-bottom: 15px;
                    }
                    
                    height: calc(100% / 5);
                }
            }
                
            &__checkbox-container {
                display: flex;
                align-items: center;

                margin-bottom: 20px;

                
                &__checkbox {
                    margin-right: 5px;
                    cursor: pointer;
                    
                    &__label {
                        cursor: pointer;
                        
                        font-size: 1.4rem;
                        
                        &__span {
                            color: var(--color-primary);
                        }
                    }
                }
            }

            &__botao-avancar {
                width: 100%;

                margin-bottom: 20px;
            }

            &__login {
                align-self: center;
                font-size: 1.4rem;
    
                // background-color: purple;
                &__link {
                    &,
                    &:link,
                    &:visited {
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                }
            }
        }

    }
}