.cadastro {
    &__container-imagem {
        &__imagem {
            display: none;
        }
    }
    &__conteudo {
        &__form {
            transform: translateY(0);

            &__inputs {
                // height: 80%;
                width: 100%;

                display: flex;
                flex-direction: column;

                margin-bottom: 30px;
                
                &__input {
                    &:not(:last-of-type) {
                        margin-bottom: 15px;
                    }

                    // height: 7rem;
                }
            }
                
            &__checkbox-container {
                display: flex;
                align-self: flex-start;

                margin-bottom: 30px;
                
                &__checkbox {
                    margin-right: 5px;
                    cursor: pointer;
                    
                    &__label {
                        cursor: pointer;

                        &::selection {
                            background-color: transparent;
                        }
                        
                        &__span {
                            color: var(--cor-principal);

                            &::selection {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            &__botao-avancar {
                width: 100%;

                margin-bottom: 30px;
            }

            &__login {
                align-self: center;

                &__link {
                    &,
                    &:link,
                    &:visited {
                        color: var(--cor-principal);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}