.cadastro-comum {
    height: 100vh;
    width: 100%;

    @include flex-container(row, start, start);
    overflow: hidden;

    &__imagem {
        width: 60%;
        object-fit: cover;
        // height: 100vh;
    }

    &__conteudo {
        width: 40%;
        height: 100%;

        padding: 50px 50px 25vh 0;

        @include flex-container(column, space-between, center);
    }
    
    &__cabecalho {
        width: 100%;
        height: 30%;
        // background-color: blue;
        @include flex-container(column, space-between, center);
    }

    &__isologo {
        width: 25rem;
    }

    &__instrucoes {
        
    }

    &__voltar {

    }

    &__titulo {

    }

    &__icone {

    }

    &__input {

    }

    &__avancar {

    }
}