.confirmacao-email{
    height: 100vh;
    width: 100%;
    border: 1px red solid;

    display: flex;
    // flex-direction: row;

    // overflow: hidden;

    &__imagem {
        width: 60%;
        // height: 100vh;
    }

    &__conteudo {
        border: 2px solid blue ;

        width: 40%;

        padding: 50px 0 25vh 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // padding-bottom: 50%;


        
        &__isologo {
            width: 25rem;
            border: 2px red solid;
            
        }
        
        &__header {
            border: 2px green solid;
            align-self: flex-start;
            &__voltar{

            }
        
            &__h1{

            }
        }
        
        &__form{
            // margin-bottom: 50%;
            border: 2px rgb(102, 0, 122) solid;
            &__icone-email{

            }
        
            &__descricao {

            }
        
            &__input-codigo {

            }
        
            &__resgate-codigo {

            }
        
            &__botao-avancar{

            }
        }


    }
}
