<div class="menu-secundario">
    <div class="menu-secundario__titulo">Pessoas que você talvez conheça</div>
    <ul class="menu-secundario__sugestoes">
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=1/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                </a>
                <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div>
            </div>
        </li>
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=1/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                </a>
                <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div>
            </div>
        </li>
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=1/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                </a>
                <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div>
            </div>
        </li>
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=1/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-padrao.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Nome provisório</span>
                </a>
                <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div>
            </div>
        </li>
    </ul>
</div>