<div class="menu-secundario">
    <div class="menu-secundario__titulo">Pessoas que você talvez conheça</div>
    <ul class="menu-secundario__sugestoes">
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=1/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-1.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Carlos Henrique Magalhães</span>
                </a>
                <!-- <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div> -->
            </div>
        </li>
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=2/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-2.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Diego Oliveira</span>
                </a>
                <!-- <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div> -->
            </div>
        </li>
        <li class="menu-secundario__sugestoes__sugestao">
            <div class="menu-secundario__sugestoes__sugestao__pessoa">
                <a href="/perfil?id=3/" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um">
                    <img src="../midias/imagens/foto-perfil-3.jpg" alt="" class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__foto-perfil">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-um__nome">Victor Ribeiro</span>
                </a>
                <!-- <div class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois">
                    <span class="menu-secundario__sugestoes__sugestao__pessoa__bloco-dois__seguir">Seguir</span>
                </div> -->
            </div>
        </li>
    </ul>
</div>