<nav class="menu">
    <a href="/feed" class="menu__isologo">
        <img src="midias/imagens/isologo.png" alt="Logo da plataforma" class="menu__isologo__img">
    </a>

    <ul class="menu__lista">
        <li class="menu__lista__item-lista">
            <svg class="icon menu__lista__item-lista__icone atual">
                <use xlink:href="../midias/icones/casinha.svg#casinha"></use>
            </svg>
            <a href="/feed" class="menu__lista__item-lista__link">Página Inicial</a>
        </li>
        <li class="menu__lista__item-lista">
            <svg class="icon menu__lista__item-lista__icone">
                <use xlink:href="../midias/icones/lupa.svg#lupa"></use>
            </svg>
            <a href="/explorar" class="menu__lista__item-lista__link">Explorar</a>
        </li>
        <li class="menu__lista__item-lista">
            <svg class="icon menu__lista__item-lista__icone">
                <use xlink:href="../midias/icones/sino.svg#sino"></use>
            </svg>
            <a href="/notificacoes" class="menu__lista__item-lista__link">Notificações</a>
        </li>
        <li class="menu__lista__item-lista">
            <svg class="icon menu__lista__item-lista__icone">
                <use xlink:href="../midias/icones/salvar.svg#salvar"></use>
          </svg>
            <a href="/salvos" class="menu__lista__item-lista__link">Salvos</a>
        </li>
    </ul>
    
    <a href="/escolherTipoPost" class="menu__botao">Novo Post</a>
</nav>